body,*{
  margin:0;
  padding:0;
  color:#3c3c3c;
  font-family: "Merriweather",serif;
}

#app{
  width:100vw;
  min-width: 320px;
  margin:0;
  padding:0;
  section,header{
    max-width: 1440px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  h2{
    font-weight: 100;
    padding: 40px 0 0;
    font-size: 2rem;
  }

}
