body,*{
  margin:0;
  padding:0;
  color:#767676;
  font-family: "Merriweather",serif;
}

#app{
  width:100vw;
  h2{
    font-weight: 100;
    padding: 40px 0 0;
    font-size: 2rem;
  }
  .footer{
    background-color: #eeeff1;
    text-align: center;
    color:black;
    font-size: 1rem;
    line-height: 2rem;
  }
}
