.menu__cart{
*{
  display: block;
  margin:0 auto;
  text-align: center;
}
  .menu__cart__navigation{
      list-style: none;
      width: 50%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding:20px 0;
  }
  .menu__page__wrapper{
    margin:40px auto;
    display: flex;
    flex-wrap: wrap;
    width:80%;
    min-width: 320px;
  }
}
