#about__us{
  background-image: url('../../../assets/beans.png');
  background-repeat: no-repeat;
  background-size: 55%;
  background-position-x: -6%;
  background-position-y: 84%;
  background-color: #edeeee;
  h2{
    text-align: center;
  }
  .divider__wrap {
    margin: -20px auto 0;
    padding: 0 50px;
    text-align: center;
  }
  .about__us__box{
    min-width: 320px;
    width:100%;
    display: block;
    text-align: center;
    box-sizing: border-box;
    &:after{
      content:'';
      clear:both;
      display:block;
    }
    p{
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
    img{
          float: right;
          padding: 50px 0;
    }
  }
@media only screen and (min-width:768px) {
      background-position-y: 175%;
      background-size: 57%;
      background-position-x: -41%;
}



  @media only screen and (min-width:1024px) {
    background-size: 55%;
    background-position-x: 95%;
      background-position-y: 100%;
    .about__us__box{
      min-width: 320px;
      width:36%;
      display: block;
      margin: 50px;

      img{
            float: right;
            padding: 50px 0;
      }
    }

  }

}
